{% extends 'store/main.html' %}
{% block title %}GME{% endblock %}
{% load static %}
{% block content %}

<div class="jumbotron jumbotron-fluid text-center">
    <div class="w_container">
        <h1 class="display-4">Welcome to Gaming Made Eazy</h1>
        <p class="lead">Everything a Gamer needs in one store</p>
        <a class="btn btn-primary btn-lg" href="{% url 'store' %}" role="button">Explore Now</a>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


{% endblock content %}